@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);


$first-element-padding-top: 2rem;

//------------------------------------------------------------------------------
//    Global Layout
//------------------------------------------------------------------------------

.top-bar .menu a {
    color: $solarized-base2;
}

.top-bar {
    background-color: $solarized-base02;
}

.posts section:first-child {
    padding-top: $first-element-padding-top;
}

// h1, h2, h3, h4, h5, h6 {
//     a {
//         color: $body-font-color;
//     }
// }

//------------------------------------------------------------------------------
//    For each post
//------------------------------------------------------------------------------


section .header {
    color: $solarized-base01;
    font-size: $small-font-size;
}


//------------------------------------------------------------------------------
//    For blog index
//------------------------------------------------------------------------------

$topbar-height-calc: ($topbar-padding + nth($dropdownmenu-padding, 1) ) * 5;
$hero-height: calc(100vh + #{$topbar-height-calc});

.hero-section {
  background: url('https://images.pexels.com/photos/64778/pexels-photo-64778.jpeg') 50% no-repeat;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: - $topbar-height-calc;

  
  .hero-section-text {
    color: $white;
    text-shadow: 1px 1px 2px $black;
  }
}