@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);

// 
// For Index.html only
// 
// 

.website-title {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 900;
    text-decoration: underline;
	border-bottom: 1px solid;
}

.website-subtitle {
    font-variant: small-caps;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    min-width: 2rem;  /* without this, problem in firefox*/
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 100;
}

.extra-text {
    color: $solarized-base00;
}

.responsive_huge_text {
    color: $solarized-base01;
    line-height: 1;
    font-weight: 900;
    font-family: 'Noto Sans SC', sans-serif;
}

.responsive_huge_text_en {
    color: $solarized-base0;
    line-height: 1;
    font-weight: 900;
}

.media:hover .media__image { color: $solarized-cyan; }

.media a .media__image {
    color: $body-font-color;
}


.link_zh {
    display:none;
}


// body {
//     background: url("/images/combine.png") no-repeat center center fixed; 
//     background-size: cover;
// }

#bg-img::after {
    content:"";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vH;
    background: url('/images/combine.png') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.15;
    filter:alpha(opacity=85);
    z-index: -1;
}

//
// all pages
//
//

footer {
    background-color: $solarized-base2;
    font-size: $small-font-size;
}

.footer-copyright {
    background-color: rgba($solarized-base1,0.1);
}