<!doctype html>
<html class="no-js" lang="en">
    <head>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-61795702-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-61795702-1');
</script>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$</title>
        <meta name="title" content="$title$">
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/solarized-dark.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
        $if(MathJax)$$MathJax$$endif$
    </head>
    <body>

 <div class="nav-container">
    <div class="frow-container">
      <div class="frow">
        <div class="col-md-3-4">
          <div class="frow justify-between">
            <span><a href="/">Natural Stupidity</a></span>
            <ul>
              <li><a href="/n">Home</a></li>
              <li><a href="/n/about">About</a></li>
              <li><a href="/n/contact/">Contact</a></li>
              <li><a href="/n/archive/">Archive</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
 </div>


        <!-- main section -->
<div class="frow-container">
    <div class="frow">
        <div class="col-md-3-4"> 
           $body$
        </div>
    </div>
</div>

		<!-- Footer -->
  <div class="footer-container">
    <div class="frow-container">
      <div class="frow">
        <div class="col-md-3-4">
          $partial("templates/footer.html")$
        </div>
      </div>
    </div>
  </div>


$partial("templates/finalize.html")$


    </body>
</html>