<!doctype html>
<html class="no-js" lang="en">
    <head>
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-61795702-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-61795702-1');
</script>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Hakyll Blog - $title$</title>
        <link rel="stylesheet" href="/css/app.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<!-- Piwik
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//haoyun.000webhostapp.com/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
    </head>
    <body>

        <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
            <div class="title-bar-title">Menu</div>
        </div>

	    <!-- nav section -->
        <div class="top-bar" id="responsive-menu">
		    <div class="grid-container" style="flex-grow:1;">
		        <div class="grid-x">
		            <div class="top-bar-left">
                        <div class="menu ">
						    <!--<div class="menu-text">Natural Stupidity</div>-->
							<li class="menu-text" style="padding-top:0px;padding-bottom:0px;">
                                <a href="/" style="padding:0;"><img alt="facepalm" width="36" height="36" src="/images/facepalm.png"/></a></li>
					    </div>
		            </div>
		            <div class="top-bar-right">
                        <ul class="menu" data-dropdown-menu>
                            <li><a href="/n/">Home</a></li>
                            <li><a href="/n/about/">About</a></li>
                            <li><a href="/n/contact/">Contact</a></li>
                            <li><a href="/n/archive/">Archive</a></li>
                        </ul>
		            </div>
	            </div>
		    </div>
        </div>

		<!-- Hero section

		<div class="callout large primary">
            <div class="row column text-center">
				<h1>Hakyll with Foundation and More</h1>
                <h2 class="subheader">Basic One Column Blog Template</h2>
            </div>
        </div>-->

		<!-- main section -->

        <div class="grid-container" style="min-height:100vh">
		    <div class="grid-x">
                <div class="cell">
                        $body$
                </div>
            </div>
	    </div><!--grid-container-->


		<!-- Footer -->
$partial("templates/footer.html")$
$partial("templates/finalize.html")$

    </body>
</html>