<div class="languages-switcher frow justify-end wrap-reverse">
    <p class="grow-1"><span class="lang-en"><strong>The English version is not complete.</strong></span>
        <span class="lang-fr"><strong>La version française n’est pas complète.</strong></span>
        <span class="lang-cn"><strong>中文版本并不完整.</strong></span>
        <span class="lang-de"></span></p>
    <ul>
        <li><i class="emoji" id="switch-to-de" onclick="switch_lang('de')">🇩🇪</i></li>
        <li><i class="emoji" id="switch-to-en" onclick="switch_lang('en')">🇬🇧</i></li>
        <li><i class="emoji" id="switch-to-cn" onclick="switch_lang('cn')">🇨🇳</i></li>
        <li><i class="emoji" id="switch-to-fr" onclick="switch_lang('fr')">🇫🇷</i></li>
    </ul>
</div>