<!--<div class="hero-section">
  <div class="hero-section-text">
    <h1>Welcome</h1>  
    <h2>This is a Blog. I do not want to make it a </h2>
  </div>
</div>-->

<!--<div class="grid-container" style="min-height:100vh" id="main">
</div>
-->

<div class="grid-x grid-margin-x grid-padding-x align-center">
    <div class="cell large-6 medium-8 main-part medium-order-1 small-order-2">
        <article class="grid-y grid-padding-y posts">
            <header class="cell">
                <h1>Posts</h1>
            </header>
            $body$
        </article>    
    </div>
    <div class="cell large-3 medium-4 side-part medium-order-2">
        <div class="grid-y grid-padding-y posts">
            <header class="cell">
                <h1>Blog</h1>
            </header>
            <p>
                Just Another Hakyll Site.
                I am sorry that, unlike other blogs,
                this one is not written for the readers but for myself.
                So perhaps you are not suppose to be here.
                My life is usually boring and I am always bored. However,
                I hope I could keep some memories and ideas by keeping this blog.
                Another aim of building this site is to let me waste some time
                on programming, especially when I do not want to or cannot do mathematics.
                Topics vary from daily life, <del>mathematics</del>, programming, etc.                
            </p>
        </div>    
    </div>
</div>



