<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-61795702-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-61795702-1');
</script>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>$title$</title>
  <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.min.css" integrity="sha256-cC4ByuxbguozEVx8jcKy94MFiGvxN9GwjCqZ8f3+yBk=" crossorigin="anonymous" />
  $if(MathJax)$$MathJax$$endif$
</head>
<body>
 <div class="nav-container">
    <div class="frow-container">
      <div class="frow">
        <div class="col-md-3-4">
          <div class="frow justify-between">
            <span><a href="/">Natural Stupidity</a></span>
            <span><a href="/s/">Home</a></span>
          </div>
        </div>
      </div>
    </div>
 </div>

  <div class="frow-container">
    <div class="frow">
      <div class="col-md-3-4"> 
        <div class="frow languages-switcher justify-end wrap-reverse">
          $partial("templates/languages-switcher.html")$
        </div>

        $body$
      </div>
    </div>
  </div>

  <div class="footer-container">
    <div class="frow-container">
      <div class="frow">
        <div class="col-md-3-4">
          $partial("templates/footer.html")$
        </div>
      </div>
    </div>
  </div>


$partial("templates/finalize.html")$


<!--
  <div class="grid-container">
    <div class="grid-header"><header></header></div> 
    <div class="grid-sidebar"></div>
    <div class="grid-content"></div>
    <div class="grid-footer"></div>
  </div>
-->

</body>
</html>
